{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
