body {
  font-family: Helvetica, sans-serif;
  color: #cccccc;
  background-color: #40403d;
  padding: 0;
  margin: 0;
}

h1 {
  color: #dddddd;
  text-align: center;
  margin-bottom: 12px;
}

h2 {
  color: #dddddd;
  margin-top: 24px;
  margin-bottom: 16px;
}

h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid grey;
  margin-top: 2px;
}

h3 {
  color: #dddddd;
}

.content {
  padding: 15px;
}

.navbar {
  background-color: #272822;
  border: none;
  border-radius: 0;
  margin-bottom: 2px;
}

.navbar-brand {
  color: #cccccc !important;
  margin-left: 0px;
}

.section {
  margin: 16px;
}

.center-text {
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 1024px;

  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.main-image img {
  width: 100%;
}

.main-video {
  position: relative;
  width: 100%;
  max-width: 1024px;

  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 56.25%;
}

.main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-link {
  color: #A6E22E;
  cursor: pointer;
}

.manager {
  color: #dddddd;
  display: block;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 18px;
}

.method-list {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.method {
  display: block;
  color: #66D9EF;
}

.method-inline {
  color:#66D9EF;
}

.copyright-notice {
  color: #777777;
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}
