body {
  font-family: Helvetica, sans-serif;
  color: #cccccc;
  background-color: #40403d;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  color: #dddddd;
  text-align: center;
  margin: 32px 0;
}

h3 {
  color: #dddddd;
  margin: 16px 0;
  text-align: center;
}

h3 {
  color: #dddddd;
}

p {
  margin: 0;
}

.navbar {
  background-color: #272822;
  border: none;
  border-radius: 0;
  margin-bottom: 2px;
}

.navbar-brand {
  color: #cccccc !important;
  margin-left: 0px;
}

.panel {
  width: 75%;
  background-color: #4c4c4c;
  border-radius: 16px;
  padding: 16px 32px;
  text-align: justify;
  margin: 32px auto;
}

.panel.features {
  width: 95%;
  background-color: #40403d;
}

.features-section {
  background-color: #4c4c4c;
  padding: 16px 0;
  margin: 32px 0;
}

.center-text {
  text-align: center;
}

.main-image {
  width: 100%;
  max-width: 1024px;
  margin: 16px auto;
}

.main-image img {
  width: 100%;
}

.main-video {
  position: relative;
  width: 100%;
  max-width: 1024px;

  margin-top: 32px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 56.25%;
}

.main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.feature {
  padding: 32px 0;
  width: 100%;
  height: 25%;
  text-align: center;
}

.feature img {
  width: 600px;
  height: 300px;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .feature img {
    width: 100%;
    height: auto;
  }
}

.text-link {
  color: #A6E22E;
  cursor: pointer;
}

.manager {
  color: #dddddd;
  display: block;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 18px;
}

.method-list {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.method {
  display: block;
}

.method .name {
  color: #66D9EF;
}

.method .return {
  color: #E6DB74;
}

.method-inline {
  color:#66D9EF;
}

.copyright-notice {
  color: #777777;
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}
