@use 'colors' as *;

/* Borders */

$border-size: 2px;

/* Border radius */

$border-radius-regular: 4px;
$border-radius-large: 8px;

/* Sizes */

$tab-highlight-height: 4px;

/* Mixins */

@mixin bottom-border-shadow {
  box-shadow: inset 0 -#{$border-size} $grey-070;
}
