/* Font family */

$font-family: Raleway, Helvetica, Arial, sans-serif;
$console-font-family: monospace;

/* Font sizes */

$font-size-h1: 72px;
$font-size-h2: 60px;
$font-size-h3: 48px;
$font-size-h4: 36px;
$font-size-h5: 30px;
$font-size-h6: 24px;

$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-8: 8px;

/* Line heights */

$line-height-h1: 72px;
$line-height-h2: 64px;
$line-height-h3: 56px;
$line-height-h4: 48px;
$line-height-h5: 42px;
$line-height-h6: 36px;

$line-height-20: 32px;
$line-height-18: 28px;
$line-height-16: 24px;
$line-height-14: 20px;
$line-height-12: 16px;
$line-height-10: 14px;
$line-height-8: 12px;

/* Font weights */

$font-weight-regular: 400;
$font-weight-semibold: 600;
