@use 'colors' as *;

/* Shadows */

@mixin box-shadow-0 {
  box-shadow: none;
}

@mixin box-shadow-1 {
  box-shadow:
    0 1px 2px $shadow-010,
    0 1px 2px $shadow-040;
}

@mixin box-shadow-2 {
  box-shadow:
    0 3px 3px $shadow-020,
    0 2px 2px $shadow-040;
}

@mixin box-shadow-3 {
  box-shadow:
    0 7px 5px $shadow-020,
    0 3px 3px $shadow-030;
}

@mixin box-shadow-4 {
  box-shadow:
    0 10px 8px $shadow-030,
    0 4px 4px $shadow-020;
}

@mixin box-shadow-5 {
  box-shadow:
    0 15px 13px $shadow-040,
    0 5px 5px $shadow-010;
}
