@use '../../../styles/system/index' as *;

.visor-card {
  @include box-shadow-2;
  padding: $spacing-24;
  background: $background-card;
  border-radius: $border-radius-large;

  &--light {
    @include scrollbar-lightest;
    background: $background-card-light;
  }

  & + & {
    margin-top: $spacing-16;
  }
}
